.buton-blue {
    padding: 8px 10px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button-red {
    padding: 8px 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}